In [38]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [39]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN","NAME", "ORGANIZATION"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,N,142590,1

In [40]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

# Attempt 1: Removed Organization column. Adding a hidden layer.

In [41]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df.APPLICATION_TYPE.value_counts()

# Determine which values to replace if counts are less than ...?
replace_application = list(app_counts[app_counts < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [42]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts()

# Determine which values to replace if counts are less than ..?
replace_class = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [45]:
# Generate our categorical variable lists
app_cat = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]

In [46]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[app_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(app_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [47]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True).drop(app_cat,1)

application_df.head()

C:\Users\kkriz\.conda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [48]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL
X = application_df.drop("IS_SUCCESSFUL",1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\Users\kkriz\.conda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [49]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 80)                3200

 dense_8 (Dense)             (None, 30)                2430

 dense_9 (Dense)             (None, 10)                310

 dense_10 (Dense)            (None, 1)                 11

=================================================================
Total params: 5,951
Trainable params: 5,951
Non-trainable params: 0
_________________________________________________________________

In [50]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period=5)

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5738 - accuracy: 0.7185
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5635 - accuracy: 0.7268
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5596 - accuracy: 0.7289
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5591 - accuracy: 0.7283
Epoch 5/100
789/804 [============================>.] - ETA: 0s - loss: 0.5588 - accuracy: 0.7290
Epoch 5: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5581 - accuracy: 0.7294
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5577 - accuracy: 0.7290
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5574 - accuracy: 0.7283
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7304
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5565 - accuracy: 0.7301
Epoch 10/100
804/804 [==============================] - ETA: 0s - loss: 0.5567 - accuracy: 0.7301
Epoch 10: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5567 - accuracy: 0.7301
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5564 - accuracy: 0.7297
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5558 - accuracy: 0.7300
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5559 - accuracy: 0.7293
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7297
Epoch 15/100
804/804 [==============================] - ETA: 0s - loss: 0.5556 - accuracy: 0.7304
Epoch 15: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7304
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7303
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7302
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5544 - accuracy: 0.7310
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5547 - accuracy: 0.7303
Epoch 20/100
785/804 [============================>.] - ETA: 0s - loss: 0.5553 - accuracy: 0.7299
Epoch 20: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7304
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5540 - accuracy: 0.7307
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5541 - accuracy: 0.7307
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7303
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5543 - accuracy: 0.7304
Epoch 25/100
778/804 [============================>.] - ETA: 0s - loss: 0.5540 - accuracy: 0.7314
Epoch 25: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5539 - accuracy: 0.7313
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5539 - accuracy: 0.7320
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7310
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7314
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7315
Epoch 30/100
780/804 [============================>.] - ETA: 0s - loss: 0.5534 - accuracy: 0.7320
Epoch 30: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7321
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5533 - accuracy: 0.7315
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7311
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5527 - accuracy: 0.7319
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5530 - accuracy: 0.7319
Epoch 35/100
792/804 [============================>.] - ETA: 0s - loss: 0.5528 - accuracy: 0.7318
Epoch 35: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7318
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7311
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7320
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7317
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7318
Epoch 40/100
798/804 [============================>.] - ETA: 0s - loss: 0.5526 - accuracy: 0.7314
Epoch 40: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7317
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5522 - accuracy: 0.7320
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7315
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7315
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7323
Epoch 45/100
799/804 [============================>.] - ETA: 0s - loss: 0.5515 - accuracy: 0.7318
Epoch 45: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5518 - accuracy: 0.7316
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7326
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7320
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7321
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7325
Epoch 50/100
779/804 [============================>.] - ETA: 0s - loss: 0.5529 - accuracy: 0.7319
Epoch 50: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7328
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7325
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7315
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7325
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7327
Epoch 55/100
781/804 [============================>.] - ETA: 0s - loss: 0.5511 - accuracy: 0.7326
Epoch 55: saving model to checkpoints\weights.55.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7327
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7325
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7325
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7327
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7327
Epoch 60/100
777/804 [===========================>..] - ETA: 0s - loss: 0.5506 - accuracy: 0.7326
Epoch 60: saving model to checkpoints\weights.60.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7325
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.7327
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7324
Epoch 63/100

804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7330
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7320
Epoch 65/100
796/804 [============================>.] - ETA: 0s - loss: 0.5507 - accuracy: 0.7330
Epoch 65: saving model to checkpoints\weights.65.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5508 - accuracy: 0.7327
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7323
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7327
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7332
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5504 - accuracy: 0.7333
Epoch 70/100
794/804 [============================>.] - ETA: 0s - loss: 0.5502 - accuracy: 0.7337
Epoch 70: saving model to checkpoints\weights.70.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7336
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7327
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7331
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7327
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5503 - accuracy: 0.7328
Epoch 75/100
793/804 [============================>.] - ETA: 0s - loss: 0.5503 - accuracy: 0.7325
Epoch 75: saving model to checkpoints\weights.75.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5504 - accuracy: 0.7325
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7331
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7326
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7329
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5498 - accuracy: 0.7327
Epoch 80/100
792/804 [============================>.] - ETA: 0s - loss: 0.5504 - accuracy: 0.7331
Epoch 80: saving model to checkpoints\weights.80.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5503 - accuracy: 0.7329
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7334
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5498 - accuracy: 0.7326
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7330
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7329
Epoch 85/100
784/804 [============================>.] - ETA: 0s - loss: 0.5489 - accuracy: 0.7338
Epoch 85: saving model to checkpoints\weights.85.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7334
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7329
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7332
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7329
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5495 - accuracy: 0.7332
Epoch 90/100
789/804 [============================>.] - ETA: 0s - loss: 0.5496 - accuracy: 0.7326
Epoch 90: saving model to checkpoints\weights.90.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7326
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7332
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7327
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7334
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7331
Epoch 95/100
775/804 [===========================>..] - ETA: 0s - loss: 0.5487 - accuracy: 0.7329
Epoch 95: saving model to checkpoints\weights.95.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7328
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7336
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5493 - accuracy: 0.7331
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7334
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7339
Epoch 100/100
802/804 [============================>.] - ETA: 0s - loss: 0.5496 - accuracy: 0.7332
Epoch 100: saving model to checkpoints\weights.100.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7332

In [62]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5660 - accuracy: 0.7235 - 236ms/epoch - 879us/step
Loss: 0.5660027265548706, Accuracy: 0.723498523235321

In [63]:
nn.save("AlphabetSoupCharity1.h5")